<!DOCTYPE html>
<html lang="es">
<head>
  {% block head %}
  <title>APP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">

  <!-- JavaScript -->
  <!-- Bootstrap y requeridos -->
  <script src="{{ url_for('static', filename='bootstrap/js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  {% endblock %}
  {% block extra_head %}
  {% endblock %}
</head>
<body class="pt-5">
  <!-- Nav -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info mb-5">
    <a class="navbar-brand" href="#">Dirección de Medicina Ocupacional</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><i class="fas pr-1 fa-user-circle"></i>Mi cuenta</a>
        <a class="nav-item nav-link" href="#"><i class="fas pr-1 fa-cog"></i>Configuración</a>
        <a class="nav-item nav-link active" href="#"><i class="fas pr-1 fa-users"></i>Aspirantes</a>

      </div>
    </div>
  </nav>
  <!-- Fin nav -->

  <!-- Contenedor Bootstrap -->
  <div class="container-fluid pt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    {% block contenido %}
    {% endblock %}
  </div>
  <!-- Fin contenedor Bootstrap -->
</body>
</html>
