{% extends "base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/floating-labels.css')}}">
<script src="{{ url_for('static', filename='moment/js/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='moment/js/locales.js')}}"></script>
<script src="{{ url_for('static', filename='tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">
<!-- JS datetime pickers -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#turno_psi_1').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      locale: 'es',
      stepping: 15
    });
    $('#turno_psi_2').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      locale: 'es',
      stepping: 15
    });
    $('#turno_med_1').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      locale: 'es',
      stepping: 15
    });
    $('#turno_med_2').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      locale: 'es',
      stepping: 15
    });
  });
</script>
{% endblock %}
{% block contenido %}
<!-- Formulario -->
<form action="/preocupacionales/nuevo_agente" method="POST" id="agente" class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-1"></div><!-- Columna vacía -->
    <div class="col-md-9 border rounded p-3 bg-light">
      {{ form.csrf_token }}
      <div class="row">
        <!-- Area datos -->
        <div class="col-md-6">
          <!-- Datos personales -->
          <div>
            <div class="form-row">
              <div class="form-group col-md-auto h5">
                Datos personales
              </div>
            </div>
            <div class="ml-2">
              <div class="form-row">
                <div class="col-md-6 form-label-group">
                  {% if 'nombre' in form.errors %}
                    {{ form.nombre(autocomplete='off', class='form-control is-invalid', placeholder=form.nombre.name) }}
                    <div class="invalid-tooltip">
                      {{ form.errors['nombre'][0]}}
                    </div>
                  {% else %}
                      {{ form.nombre(autocomplete='off', class='form-control', placeholder=form.nombre.name) }}
                  {% endif %}
                  {{ form.nombre.label }}
                </div>
                <div class="form-label-group col-md-6">
                  {% if 'apellido' in form.errors %}
                    {{ form.apellido(autocomplete='off', class='form-control is-invalid', placeholder=form.apellido.name) }}
                    <div class="invalid-tooltip">
                      {{ form.errors['apellido'][0]}}
                    </div>
                  {% else %}
                      {{ form.apellido(autocomplete='off', class='form-control', placeholder=form.apellido.name) }}
                  {% endif %}
                  {{ form.apellido.label }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-label-group col-md-4">
                  {% if 'dni' in form.errors %}
                    {{ form.dni(autocomplete='off', class='form-control is-invalid', placeholder=form.dni.name) }}
                    <div class="invalid-tooltip">
                      {{ form.errors['dni'][0]}}
                    </div>
                  {% else %}
                      {{ form.dni(autocomplete='off', class='form-control', placeholder=form.dni.name) }}
                  {% endif %}
                  {{ form.dni.label }}
                </div>
                <div class="form-label-group col-md-6">
                  {{ form.telefono(autocomplete='off', class='form-control', placeholder=form.telefono.name) }}
                  {{ form.telefono.label }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-label-group col-md-auto h5">
                  Domicilio
                </div>
              </div>
              <div class="form-row">
                <div class="form-label-group col-md-5">
                  {{ form.domicilio_calle(autocomplete='off', class='form-control', placeholder=form.domicilio_calle.name) }}
                  {{ form.domicilio_calle.label }}
                </div>
                <div class="form-label-group col-md-3">
                  {{ form.domicilio_numero(autocomplete='off', class='form-control', placeholder=form.domicilio_numero.name) }}
                  {{ form.domicilio_numero.label }}
                  </div>
              </div>
              <div class="form-row">
                <div class="form-label-group col-md-4">
                  {{ form.domicilio_piso(autocomplete='off', class='form-control', placeholder=form.domicilio_piso.name) }}
                  {{ form.domicilio_piso.label }}
                  </div>
                <div class="form-label-group col-md-4">
                  {{ form.domicilio_depto(autocomplete='off', class='form-control', placeholder=form.domicilio_depto.name) }}
                  {{ form.domicilio_depto.label }}
                  </div>
              </div>
            </div>
          </div>
          <!-- Fin datos personales -->
          <!-- Datos municipales -->
          <div>
            <div class="form-row">
              <div class="form-group col-md-auto h5">
                Datos municipales
              </div>
            </div>
            <div class="ml-2">
              <div class="form-row">
                <div class="form-label-group col-md-3">
                  {% if 'legajo' in form.errors %}
                    {{ form.legajo(autocomplete='off', class='form-control is-invalid', placeholder=form.legajo.name) }}
                    <div class="invalid-tooltip">
                      {{ form.errors['legajo'][0]}}
                    </div>
                  {% else %}
                      {{ form.legajo(autocomplete='off', class='form-control', placeholder=form.legajo.name) }}
                  {% endif %}
                  {{ form.legajo.label }}
                </div>
                <div class="form-group col-md-9">
                  {% if 'reparticion_id' in form.errors %}
                    {{ form.reparticion_id(autocomplete='off', class='form-control is-invalid') }}
                    <div class="invalid-tooltip">
                      {{ form.errors['reparticion_id'][0]}}
                    </div>
                  {% else %}
                      {{ form.reparticion_id(autocomplete='off', class='form-control') }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- Fin datos municipales -->
        </div>
        <!-- Fin area datos -->

        <!-- Preocupacionales -->
        <div class="col-md-6">
          <!-- Preocupacional psicológico -->
          <div class="form-row">
            <div class="form-group col-md-auto">
              <div class="form-row">
                <div class="form-group h5">
                  Preocupacional psicológico
                </div>
              </div>
              <div class="form-inline">
                {{ form.turno_psi_1.label(class='mb-2 mr-sm-2') }}
                <div class="input-group date mb-2 mr-sm-2" data-target-input="nearest">
                  {% if 'turno_psi_1' in form.errors %}
                    {{ form.turno_psi_1(autocomplete='off', class='form-control datetimepicker-input is-invalid') }}
                    <div class="invalid-tooltip">
                      {{ form.errors['turno_psi_1'][0]}}
                    </div>
                  {% else %}
                      {{ form.turno_psi_1(autocomplete='off', class='form-control datetimepicker-input') }}
                  {% endif %}
                  <div class="input-group-append" data-target="#turno_psi_1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <!-- Ejemplo de select para cuando haya Google Calendars -->
                <!-- <select class="form-control mb-2 mr-sm-2 w-25" id="exampleFormControlSelect1">
                  <option>1</option>
                </select> -->
                <div class="form-check mb-2 mr-sm-2">
                  {{ form.ausente_psi_1(class='form-check-input') }}{{ form.ausente_psi_1.label(class='form-check-label') }}
                </div>
              </div>
              <div class="form-inline">
                {{ form.turno_psi_2.label(class='mb-2 mr-sm-2') }}
                <div class="input-group date mb-2 mr-sm-2" data-target-input="nearest">
                  {% if 'turno_psi_2' in form.errors %}
                    {{ form.turno_psi_2(autocomplete='off', class='form-control datetimepicker-input is-invalid') }}
                    <div class="invalid-tooltip">
                      {{ form.errors['turno_psi_2'][0]}}
                    </div>
                  {% else %}
                      {{ form.turno_psi_2(autocomplete='off', class='form-control datetimepicker-input') }}
                  {% endif %}
                  <div class="input-group-append" data-target="#turno_psi_2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <!-- Ejemplo de select para cuando haya Google Calendars -->
                <!-- <select class="form-control mb-2 mr-sm-2 w-25" id="exampleFormControlSelect1">
                  <option>1</option>
                </select> -->
                <div class="form-check mb-2 mr-sm-2">
                  {{ form.ausente_psi_2(class='form-check-input') }}{{ form.ausente_psi_2.label(class='form-check-label') }}
                </div>
              </div>
              <div class="form-inline mt-2">
                  {{ form.apto_psi.label(class='mb-2 mr-sm-2') }}
                  {{ form.apto_psi(autocomplete='off', class='form-control mb-2 mr-sm-2') }}
              </div>
            </div>
          </div>
          <!-- Fin preocupacional psicológico -->

          <!-- Preocupacional clínico -->
          <div class="form-row">
            <div class="form-group col-md-auto">
              <div class="form-row">
                <div class="form-group h5">
                  Preocupacional clínico
                </div>
              </div>
              <div class="form-inline">
                {{ form.turno_med_1.label(class='mb-2 mr-sm-2') }}
                <div class="input-group date mb-2 mr-sm-2" data-target-input="nearest">
                  {% if 'turno_med_1' in form.errors %}
                    {{ form.turno_med_1(autocomplete='off', class='form-control datetimepicker-input is-invalid') }}
                    <div class="invalid-tooltip">
                      {{ form.errors['turno_med_1'][0]}}
                    </div>
                  {% else %}
                      {{ form.turno_med_1(autocomplete='off', class='form-control datetimepicker-input') }}
                  {% endif %}
                  <div class="input-group-append" data-target="#turno_med_1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  {{ form.ausente_med_1(class='form-check-input') }}{{ form.ausente_med_1.label(class='form-check-label') }}
                </div>
              </div>
              <div class="form-inline">
                {{ form.turno_med_2.label(class='mb-2 mr-sm-2') }}
                <div class="input-group date mb-2 mr-sm-2" data-target-input="nearest">
                  {% if 'turno_med_2' in form.errors %}
                    {{ form.turno_med_1(autocomplete='off', class='form-control datetimepicker-input is-invalid') }}
                    <div class="invalid-tooltip">
                      {{ form.errors['turno_med_2'][0]}}
                    </div>
                  {% else %}
                      {{ form.turno_med_2(autocomplete='off', class='form-control datetimepicker-input') }}
                  {% endif %}
                  <div class="input-group-append" data-target="#turno_med_2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <div class="form-check mb-2 mr-sm-2">
                  {{ form.ausente_med_2(class='form-check-input') }}{{ form.ausente_med_2.label(class='form-check-label') }}
                </div>
              </div>
              <div class="form-inline mt-2">
                  {{ form.apto_med.label(class='mb-2 mr-sm-2') }}
                  {{ form.apto_med(autocomplete='off', class='form-control mb-2 mr-sm-2') }}
              </div>
            </div>
          </div>
          <!-- Fin preocupacional clínico -->

          <!-- Observaciones -->
          <div class="form-row">
            <div class="col">
              {{ form.observaciones.label }}
              <div class="form-group col-md-auto">
                {{ form.observaciones(autocomplete='off', rows='5', class='form-control')}}
              </div>
            </div>
          </div>
          <!-- Fin observaciones -->
        </div>
        <!-- Fin Preocupacionales -->
      </div>
    </div>
    <!-- Fin formulario -->
    <!-- Area botones -->
    <div class="col-md-2">
      <div class="row">
        <div class="col">
          <div class="btn-block">
            {% block botones %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- Fin area bootnes -->
  </div>
</form>
{% endblock %}
