{% extends "base.html" %}

{% block contenido %}
    <h1>Nuevo usuario</h1>
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.usuario.label }}<br>
            {{ form.usuario(size=32) }}<br>
            {% for error in form.usuario.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.registrarse() }}</p>
    </form>
{% endblock %}
